label {
    float: left;
    clear: right;
}

textarea {
    float: right;
    resize: none;
}

input, select, button {
    float: left;
}

.main-block {
    width: 60%;
    margin: 20px auto;
    display: flex;
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
}

button {

    background: white;
    border: black dashed 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}