.display-none
{
    display: none;
}


div
{
    padding: 15px;
}
button, input, select
{
    border: 2px black dashed;
    border-radius: 5px;
}
button
{
    background: #c1dff8;
    padding: 5px;
}


table th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}
table td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
table tr:hover td {
    color: #6699ff;
}